<div class="container">
    <div class="content">
      <div class="centered-content">
        <img src="assets/images/facilita-logo.png" alt="Facilita Logo" />
        <h1>Site em Manutenção</h1>
        <p>Nosso site está temporariamente fora do ar para manutenção.</p>
        <p>Por favor, volte em breve.</p>
      </div>
  
      <div class="info">
        <div class="contact-info">
          <address>
            <p>Rua Professor Castilhos, 431 sala 725</p>
            <p>Campo Grande, Rio de Janeiro</p>
          </address>
          
          <p>Horário de Atendimento:</p>
          <p>09:00 às 12:00 e 13:00 às 18:00 (segunda a sexta-feira)</p>
        </div>
        
        <p class="whatsapp">Entre em contato pelo número:</p>
        <p class="whatsapp"><a href="tel:2134374422">(21) 3437-4422</a></p>
      </div>
    </div>
  </div>
  