<app-breadcrumb [title]="'Cadastro'" [breadcrumb]="'Cadastro'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <h3>Criar conta</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="fname" placeholder="Digite seu nome" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Sobrenome</label>
                                <input type="password" class="form-control" id="lname" placeholder="Digite seu sobrenome" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="text" class="form-control" id="email" placeholder="Digite seu Email" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Defina sua senha" required="">
                            </div>
                        </div>
                        <button class="btn btn-solid">Criar conta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->