<app-breadcrumb [title]="'Gerenciador'" [breadcrumb]="'Gerenciador'"></app-breadcrumb>

<div class="card m-4" *ngFor="let slide of slides">
  <div class="card-body">
    <h3>Imagem Slide - {{ slide.id }}</h3>
    <div>
      <input type="file" (change)="validateImageSlide($event, slide.id)" accept="image/*">
      <img *ngIf="slide.imagePreview" [src]="slide.imagePreview" alt="Preview" style="max-width: 100%; max-height: 300px;">
      <button class="btn btn-success" style="float: right;" (click)="uploadImageSlide(slide.id)">Enviar</button>
    </div>
  </div>
</div>

<div class="card m-4" *ngFor="let about of aboutus">
  <div class="card-body">
    <h3>Imagem Sobre-nós</h3>
    <div>
      <input type="file" (change)="validateImageAbout($event, about.id)" accept="image/*">
      <img *ngIf="about.imagePreviewAbout" [src]="about.imagePreviewAbout" alt="Preview" style="max-width: 100%; max-height: 300px;">
      <button class="btn btn-success" style="float: right;" (click)="uploadImageAbout(about.id)">Enviar</button>
    </div>
  </div>
</div>

<div class="card m-4" *ngFor="let fundo of fundoPage">
  <div class="card-body">
    <h3>Imagem Fundo Site</h3>
    <div>
      <input type="file" (change)="validateImageFundo($event, fundo.id)" accept="image/*">
      <img *ngIf="fundo.imagePreviewFundo" [src]="fundo.imagePreviewFundo" alt="Preview" style="max-width: 100%; max-height: 300px;">
      <button class="btn btn-success" style="float: right;" (click)="uploadImageFundo(fundo.id)">Enviar</button>
    </div>
  </div>
</div>


rgb(182, 10, 10)