/* Estilo para toda a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para o breadcrumb */
  app-breadcrumb {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilo para as seções de banner, sobre, fundo e empresa */
  .banner-6 {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px 0;
  }
  
  .banner-6 h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  /* Estilo para o formulário de upload de imagem */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .input-container {
    position: relative;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Estilo para a visualização de imagem */
  .preview {
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  